@model IEnumerable<MichaelScottsPaperCompany.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1 class="p-4">Categories</h1>
<div class="m-3">

    <div class="d-flex align-items-end flex-column px-3">
        <p>
            <a asp-action="Create" class="btn btn-primary">Add +</a>
        </p>
    </div>
    <table class="table table-bordered p-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.CategoryDescription)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryDescription)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a>

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Delete
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Category</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <dl>
                                            <div>
                                                <dt>
                                                    @Html.DisplayNameFor(modelItem => item.CategoryName)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.CategoryName)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => item.CategoryDescription)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(modelItem => item.CategoryDescription)
                                                </dd>
                                            </div>
                                        </dl>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
                                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
