@model IEnumerable<MichaelScottsPaperCompany.DATA.EF.Models.Item>

@{
    ViewData["Title"] = "Tiled Items";
}
<div class="m-3">
<h1 class="p-4">Shop</h1>

<div class="d-flex align-items-end flex-column px-3">
<p>
    <a asp-action="Create" class="btn btn-primary">Add +</a>
</p>

        <div class="row gx-0 gy-x">
            <div class="col-2 align-items-center d-flex flex-row-reverse">
                <a asp-action="Index" asp-controller="Items"><i class="bi bi-list-ul text-primary fw-bold"></i></a>
                <a asp-action="Tiled" asp-controller="Items"><i class="bi bi-grid-3x3-gap fw-light"></i></a>
            </div>
        </div>

</div>

<table class="table table-bordered p-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemsInStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastOrderedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr style="background-color: #eee;">
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemsInStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastOrderedDate)
                </td>
                <td>
                    <img src="~/assets/img/upload/t_@item.ItemImage" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ItemId">Delete</a> |
                    <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ItemId" class="option2">Add To Cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
